/*
    GERAL ↴
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

body {
    font-family: 'open sans', sans-serif;
    margin: 0;
}

/*
    MENU ↴
*/

header .line {
    background-color:  #117050;
    height: 10px;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.header_area {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header_left img {
    width: 64px;
    height: 64px;
}

.header_right {
    display: flex;
    align-items: center;
}

.header_search form {
    display: flex;
}

.header_search input {
    font-size: 16px;
    padding: 8px 15px;
    border: 1px solid #999999;
    outline: none;
    width: 100%;
    max-width: 250px;
}

.header_search button {
    border: 0;
    background-color: transparent;
    margin-left: -35px;
    cursor: pointer;
}

.header_search button img {
    width: 16px;
    height: 16px;
}

.header_menu {
    margin-left: 50px;
    cursor: pointer;
}

.header_menu img {
    width: 24px;
    height: 24px;
}

/*
    BANNER ↴
*/

.banner {
    background-image: url(/images/bg.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}

.banner h1 {
    font-family: 'Oswald', sans-serif ;
    font-size: 90px;
    font-weight: bold;
    line-height: 90px;
    margin-bottom: 30px;
}

.banner_images {
    margin-top: 60px;
}

.banner_images img {
    width: 148px;
    height: 148px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin-right: 40px;
}
