@media (min-width:426) and (max-width: 768px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
        }

    .area1, .area3 {
        grid-template-columns: 3fr 2fr;
    }

    .area2 {
        grid-template-columns: 2fr 3fr;
    }

}