footer {
  background-color: #333;
  color: #FFF;
  padding: 3rem;
  text-align: center;
  text-decoration: none;
}

footer a {
  color: #FFF;
  font-weight: bold;
}

footer a:hover {
  color: #117050;
}

.created {
  margin-bottom: 30px;
}

@media (min-width: 320px) and (max-width: 425px) {
  footer {
    font-size: 0.75rem;
    padding: 2.5rem 1.25rem;
  }
}